.winners {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}

table {
  max-width: 1000px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px 10px;
}

th {
  background: linear-gradient(yellow 35%, green 100%);
  color: dimgrey;
}

td {
  text-align: center;
  vertical-align: middle;
}

.header-ID, .header-Wins, .header-Best {
  cursor: pointer;
  font-weight: bold;
  color: darkblue;
}

.car-model {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 30px;
}
