* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ccc;
  padding: 0 10px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  font-size: 12px;
}

h1 {
  width: 0;
  height: 0;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  padding: 4px;
  width: 110px;
  text-transform: uppercase;
  font: inherit;
  font-weight: bold;
  background: linear-gradient(yellow 35%, green 100%);
}

header, footer {
  margin: 10px 0;
}

footer {
  margin-top: auto;
  display: flex;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 500px;
}

.nav {
  display: flex;
  gap: 10px;
}

#app {
  position: relative;
  overflow: auto;
  height: calc(100vh - 80px);
}
.year::before {
  content: '©';
}

.github {
  padding-left: 15px;
  background: url("./public/assets/github.svg") no-repeat left center;
  background-size: 10px 10px;
}

.rs {
  width: 27px;
  height: 10px;
  background: url("./public/assets/rss.svg") no-repeat center;
  background-size: 27px 10px;
}
